<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mt-3">
          <h4>GG! User Updated!</h4>
        </div>
      </div>
      <hr />

                 <form
            class="mt-4"
            action="/"
            method="GET"
            enctype="multipart/form-data"
          >
            <button type="submit" class="btn btn-primary">Create a new user</button>
          </form> 

    
  </body>
</html>
